*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{

}
.logo{
    text-align: center;
    padding: 2%;
}

.container{
    
    
}

.grid-container{
    display: grid;
    grid-template-columns: 1fr 4fr;
   
}
.usuario{
    margin-left: 30%;
}
.generadorqr{
    display: grid;
    grid-template-columns: 1fr 6fr;
    margin-left: 20%;
}   
.qr{
    align-items: center;
    margin-left: 20%;

}
.opciones {
    
    padding: 10px;
}
.opciones button {
    margin-left: 5%;
    padding: 20px;
    width: 100%;
    background-color: cadetblue;
}
.opcion1, .opcion2, .opcion3{
    padding: 20px;

}
